body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.logo {
  width: 300px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20% 0;
}

.links img {
  margin: 20px 0;
  max-width: 600px;
  border-radius: 20px;
  transition: all ease-in 0.25s;
}

.links img:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
